body {
    overflow-x: hidden;
}
.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    display: none;
}
footer {
    background: #242f38 url(/images/bg-footer.jpg) !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
    color: #e7e4e4;
    padding: 10px;
}

.pagination{
    justify-content: center;
}
.page-link {
    color: #8dc539;
}
.page-item.active .page-link{
    background-color: #8dc539;
    border-color: #8dc539;
}
.btn-secondary {
    background-color: #8dc539;
    border-color: #7da93d;
}
.btn-secondary:hover{
    background-color: #a5d75b;
    border-color: #a8de58;
}
.btn-secondary:focus{
    border: #a8de58;
    box-shadow: none;
    background: #a5d75b;
}
.btn-secondary:checked{
    box-shadow: none;
}
.google-button {
    background: #4285F4;
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    position: relative;
    align-items: center;
    padding-right: 7px;
    transition: all 0.3s ease;
    border-radius: 2px;
}
.google-button:hover {
    background: #4f8ef8;
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    position: relative;
    align-items: center;
    padding-right: 7px;
}
.google-button img{
    width: 35px;
    margin-right: 4px;
}

.surname-block {
    /*display: none;*/
}
.person, .company {
    background: #b2c29a;
    padding: 8px;
    width: 120px;
    text-align: center;
    color: #fff;
    margin-right: -2px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.person:hover, .company:hover{
    background: #9fd948;
}
.person{
    border-radius: 5px 0 0 5px;
}
.company{
    border-radius: 0 5px 5px 0;
}
#person:checked ~ .person {
    background: #77af23;
}


#company:checked ~ .company {
    background: #77af23;
}
#company, #person {
    display: none;
}

.contactbar{
    background: #8dc539;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
.contactbar .contacts {
    display: flex;
}
.contactbar ul {
    list-style: none;
    justify-items: center;
    margin: 0;
    /*display: flex;*/
}
.contactbar ul li{
    display: flex;
    padding: 0 15px;
    font-size: 16px;
    align-items: center;
}
.contactbar ul li i{
    color: #fff;
    font-size: 22px;
    margin-right: 5px;
}
.contactbar .lang {
    flex: 1 1 auto;
    text-align: right;
}
.contactbar .lang a{
    color: #fff;
    text-decoration: none;
    border: 1px solid #ffffffb0;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
}
.contactbar .auth{
    display: flex;
}
.contactbar .auth a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}
.contactbar .auth a::before{
    margin-right: 5px;
    margin-top: -2px;
}
.contactbar .auth i {
    margin-right: 6px;
}
.contactbar .auth a:hover{
    color: #ececec;
    fill: #ececec;
    text-decoration: none;
    font-weight: 600;
}
.navbar {
    background: #fff;
    color: #8dc539;
}
.navbar-brand .logo-icon{
    fill: #62931a;
    height: 40px;
    width: 40px;
}
a.navbar-brand{
    font-weight: 800;
    font-size: 2em;
    color: #62931a !important;
}
a.navbar-brand span{
    font-weight: 100;
    color: #9bd446;
}

.main-menu li a{
    color: #68a114;
    margin-right: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
}
.main-menu li a.active{
    text-decoration: underline;
}
.main-menu li a:hover{
    color: #8dc539;
}

.main-block .search{
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    min-width: 315px;
    max-width: 500px;
    transition: all 0.4s ease;
}

.main-block #search-form{
    background: rgba(255,255,255, 0.9);
    padding: 25px;
    position: relative;
    border-top: 3px solid #8dc539;

}
.main-block .search-show-hide {
    background: #8dc539;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    padding: 20px 10px;
    cursor: pointer;
}
.main-block .search-show-hide i {
    font-size: 28px;
}
.main-block input[type=text]{
    border: none;
    border-bottom: 1px solid #8dc539;
    /*border-radius: 0;*/
    background: #f1f9e6;
}
.main-block input[type=text]:focus {
    background: #d1eeb0;
    transition: all 0.3s ease;
}
.main-block select{
    border: none;
    border-bottom: 1px solid #8dc539;
    /*border-radius: 0;*/
    outline: none !important;
    background: #f1f9e6;
}
.main-block select:focus {
    outline: none !important;
    background: #d1eeb0;
    transition: all 0.3s ease;
}

.main-block input[type=submit]{
    margin-top: 20px;
    background: #8dc539;
    color: #fff;
    transition: all 0.3s ease;
    width: 100%;
    font-size: 1.2em;
    font-weight: 400;
}
.main-block input[type=submit]:hover{
    background: #a2dc53;
    color: #fff;
}
.main-block .signup {
    background: #8dc539;
    border: 1px solid #efebeb;
    color: #fff;
    padding: 15px;
    font-size: 24px;
    width: 80%;
    margin-top: 20px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-weight: 600;
}
.main-block .signup:hover{
    background: #a2dc53;
}
#map{
    width: 100%;
    height: 400px;
}

.main-block {
    background: linear-gradient(278.08deg, #a8db5c .2%, #527c13 100%);
    color: #fff;
    min-height: 300px;
    position: relative;

}
.main-block img {
    width: 100%;
}
.main-block #main_map {
    position: relative;
    width: 100%;
    height: calc(100vh - 141.27px);
}
.bg-top {
    position: absolute;
    top: 0;
    left: 0;
}
.bg-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}
.recommended-companies {
    transform: translateY(-50%);
    background: #fff;
    display: flex;
    padding: 0;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
}
.recommended-companies a{
    color: #0559d5;
    text-decoration: none;
    font-size: 16px;
}
.recommended-companies .title {
    background: #8dc539;
    color: #fff;
    font-weight: 600;
    padding: 45px;
}
.recommended-companies ul {
    display: flex;
    padding: 15px;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}
.recommended-companies ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.recommended-companies ul li .avatar{
    width: 70px;
    height: 70px;
}
.recommended-companies ul li p{
    margin: 0;
}



.most-popular h1{
    font-size: 1.5em;
    font-weight: 600;
    color: #5f8d1b;
}

.most-popular .popular-item {

}
.most-popular .popular-item .popular-icon {
    width: 100px;
    height: 100px;
    fill: #8dc539;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #8dc539;
    transition: all 0.3s ease;

}
.most-popular .popular-item .popular-icon:hover{
    border-radius: 5px;
    fill: #fff;
    background: #8dc539;
}
.most-popular .popular-item span{
    display: block;
    color: #618e22;
    font-size: 20px;

}

/*.user-card .avatar {*/
/*    width: 50px;*/
/*    margin-right: 15px;*/
/*}*/

.user-header{
    background: rgba(255, 255, 255, 0.8);
    bottom: 5%;
    left: 5%;
    display: flex;
    border-radius: 40px;
    text-align: center;
    padding: 26px 20px;
    color: #282626;
    align-items: center;
}
.user-header .avatar{
    width: 80px;
    margin-bottom: 15px;
    border-radius: 50%;
}
.user-header p i{
    font-size: 24px;
    margin: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.user-header p i:hover{
    color: #787575;
}
.nav-link {
    cursor: pointer;
}
.avatar {
    border-radius: 50%;
}

.search-card-header{
    background: #689722;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    color: #fff;
    border: 1px solid #8dc53963;
    text-transform: uppercase;
}
.search-card-body {
    padding: 5px;
    border: 1px solid #8dc53963;
    border-radius: 0 0 5px 5px;
}
.search-card-body input[type=submit]{
    margin-top: 20px;
    background: #8dc539;
    color: #fff;
    transition: all 0.3s ease;
    width: 100%;
    font-size: 1.2em;
    font-weight: 400;
}
.search-card-body input[type=submit]:hover{
    background: #a2dc53;
    color: #fff;
}

#location {
    padding-right: 35px;
}
.location-icon {
    position: absolute;
    color: #807e7e;
    z-index: 99;
    top: 0;
    font-size: 24px;
    right: 0;
    padding: 5px;
    cursor: pointer;
}
.location-icon:href {
    color: #000;
}
.user-card-mini{
    display: flex;
    align-items: center;
}
.user-card-mini .user-info{

}
.user-card-mini .user-info p{
    margin-bottom: 5px;
}
.user-info .user-language{
    width: 20px;
}
.user-card .avatar {
    width: 120px;
    border-radius: 10px;
    margin-right: 15px;
}
.user-info .title {
    font-size: 18px;
}
.user-info .category {
    font-size: 16px;
    color: #767272;
}
.user-card-mini .open-profile{

}
.profile-avatar{
    width: 100px;
    height: 100px;
    transform: translateY(-60%);
    background: #fff;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
}
.profile-avatar img{
    width: 90px;
}
.profile-content{
    transform: translateY(-10%);
}
.profile-card {
    border: 1px solid #8dc5394a;
    margin-top: -80px;
    z-index: 9;
    position: relative;
    background: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
}

.btn-phone {
    background: #0a58ca;
    color: #fff;
    font-size: 18px;
}
.btn-phone:hover{
    background: #0d6efd;
    color: #e3e2e2;
}
.btn-phone a{
    color: #fff;
    text-decoration: none;
    display: block;
}

.btn-email {
    background: #9c9ea1;
    color: #fff;
    font-size: 18px;
}
.btn-email:hover{
    background: #a2a4a7;
    color: #e3e2e2;
}
.btn-email a{
    color: #fff;
    text-decoration: none;
    display: block;
}

.btn-viber {
    background: #59267c;
    color: #fff;
    font-size: 18px;
}
.btn-viber:hover{
    background: #7f41aa;
    color: #e3e2e2;
}
.btn-viber a{
    color: #fff;
    text-decoration: none;
    display: block;
}

.btn-whatsapp {
    background: #28D146;
    color: #fff;
    font-size: 18px;
}
.btn-whatsapp:hover{
    background: #34e753;
    color: #e3e2e2;
}
.btn-whatsapp a{
    color: #fff;
    text-decoration: none;
    display: block;
}

.btn-telegram {
    background: #229ED9;
    color: #fff;
    font-size: 18px;
}
.btn-telegram:hover{
    background: #38a8de;
    color: #e3e2e2;
}
.btn-telegram a{
    color: #fff;
    text-decoration: none;
    display: block;
}


.profile-social {
    position: absolute;
    right: 10px;
    top: 5px;
}
.profile-social i {
    font-size:30px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right:5px;
}
.profile-social i:hover {
    font-size:30px;
    color: #6f6e6e;
}
.auth-block {
    margin-top: -15%;
    margin-bottom: 150px;
}

.auth-block .card{
    opacity: 0.92;
}

.reviews-row{
    background-image: url("../images/bg_reviews.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    background-color: linear-gradient(278.08deg, #a8db5c .2%, #527c13 100%);


}
.review {
    min-height: 100px;
    display: flex;
    justify-content: center;
}
.review-content {
    position: relative;
    width: 80%;
    background: #fff;
    color: #3b3a3a;
    padding: 70px;
}
.reviews-block{
    transition: all 0.8s ease;
    margin-bottom: 100px;
}
.reviews-block .avatar{
    width: 90px !important;
    padding: 5px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -30px;
}
.review-rank img{
    width: 100px;
}
.review-text{
    font-size: 16px;
}
.review-author {
    font-style: italic;
}

.languages span {
    background: #e2f9c0;
    padding: 5px 15px;
    margin: 5px 10px;
    border-radius: 5px;
    display: inline-flex;
    justify-content: space-between;
}
.languages span i{
    color: #616060;
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.languages span i:hover{
    color: #8d8c8c;

}

#service-list span {
    background: #e2f9c0;
    padding: 5px 15px;
    margin: 5px 10px;
    border-radius: 5px;
    display: inline-flex;
    justify-content: space-between;
}
#service-list span i{
    color: #616060;
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}
#service-list span i:hover{
    color: #8d8c8c;
}

.star {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background: #c6c3c3;
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
}
.star:hover{
    background: #d7d6d6;
}

.counter-block {
    background: #a2dc53;
    margin-top: 80px;
    margin-bottom: 180px;

}
.counter-block .row{

    justify-content: space-around;
    color: #fff;
}
.counter-block .row .counter{
    font-size: 60px;
    font-weight: 600;
}

.counter-block .row .dark{
    background: #4f9312;
}
.counter-block .row .counter-item {
    padding: 30px;
}

.category-list {
    display: none;
    max-height: 600px;
    overflow: auto;
    position: absolute;
    background: #fff;
    transform: translate(387px, -48px);
    border: 1px solid #dddada;
    z-index: 100;

}
.category-list.show {
    display: block;
}
.category-item {
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
}
.subcategory-list {
    display: none;
    color: #046404;
    background: #ebffef;
    padding: 10px 0;
}
.subcategory-list.show {
    display: block;
}
.subcategory-list a {
    display: block;
    padding: 10px;
}
.subcategory-list a:hover {
    background: #c7f1cf;
}
.show-description {
    display: none;
}

.founds {
    color: #484646;
}

@media screen and (min-width: 990px) {
    .auth-block {
        margin-top: -15%;
    }

}
@media screen and (max-width: 1360px) {
    .category-list{
        transform: translate(300px, -48px);
    }
}
@media screen and (max-width: 990px) {
    .category-list{
        transform: translate(245px, -48px);
    }
    .auth-block {
        margin-top: -32%;
    }
    .recommended-companies {
        transform: translateY(-20%);
        background: #fff;
        display: table;
        padding: 0;
        box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
    }
    .recommended-companies .title {
        background: #8dc539;
        color: #fff;
        font-weight: 600;
        padding: 20px;
    }
    .recommended-companies ul {
        display: block;
        padding: 15px;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        list-style: none;
    }
    .recommended-companies ul li{
        margin: 5px;
        display: flex;
        justify-content: flex-start;
        padding: 10px;
        border-bottom: 1px solid rgba(141, 197, 57, 0.52);
    }
    .recommended-companies ul li .avatar{
        width: 70px;
        height: 70px;
    }
    .recommended-companies ul li p{
        margin: 0;
    }

    .profile-contacts h5 {
        display: none;
    }
    .profile-card {
        margin-top: -5px;
    }
    .show-description {
        display: block;
    }
    .profile-description {
        display: none;
    }
    .user-card .card-body {
        text-align: center;
    }
    .user-card .card-body .user-card-mini {
        display: contents;
    }
    .user-card .card-body a{
        margin-top: 10px;
    }
}


@media screen and (max-width: 690px) {
    .auth-block {
        margin-top: -40%;
    }
    .contactbar {
        display: table;
    }
    .contactbar ul {
        margin-bottom: 0px;
        text-align: center;
    }
    .contactbar .contacts {
        display: none;
        width: 100%;
        padding: 0;
    }
    .contactbar .lang {
        position: absolute;
        right: 0;
        top: 9px;
    }
    .contactbar .auth {
        margin-bottom: 0;
        padding: 0;
    }

    .main-menu {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .main-menu li {
        margin-bottom: 5px;
    }

    .main-menu li a {
        color: #68a114;
        margin-right: 10px;
        text-decoration: none;
        font-weight: 400;
        transition: all 0.3s ease;
        font-size: 16px;
    }

    .user-card .card-body {
        text-align: center;
    }
    .user-card .card-body .user-card-mini {
        display: contents;
    }
    .user-card .card-body a{
        margin-top: 10px;
    }

    .profile-contacts h5 {
        display: none;
    }
    .profile-card {
        margin-top: -5px;
    }
    .show-description {
        display: block;
    }
    .profile-description {
        display: none;
    }
}

@media screen and (max-width: 500px) {

    .auth-block {
        margin-top: -55%;
    }
    .most-popular .popular-item .popular-icon {
        width: 55px;
        height: 55px;
    }
    .most-popular .popular-item span {
        font-size: 14px;
    }
    .category-list.show {
        transform: translate(-19px, 12px);
    }
    .counter-block {
        margin-top: 11px;
        margin-bottom: 129px;
    }
    .counter-block h4 {
        font-size: 16px;
    }
}
